
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Nested Task Lists</h1>
              <p>Replacing summary tables in the Digital Marketplace with the <a href="https://design-system.service.gov.uk/patterns/task-list-pages/">task list page design pattern</a>
      </p>

            <h2 class="govuk-heading-m">Lists</h2>
            <ol class="govuk-list govuk-list--number">
              <li><a href="teamlist">Team list (overall task list)</a></li>
              <li><a href="description-of-work">Description of work (sub page with tasks)</a></li>
                <li><a href="shortlist">Short list (sub page with tasks)</a></li>
                  </ol>

      <img src="../public/images/nested-lists-flow.png" width="100%">
      <p class="govuk-body govuk-!-margin-bottom-50">&nbsp;</p>

<hr>

      <h2 class="govuk-heading-m">Screenshots from live service</h2>
    <p>Overall task list</p>
      <img src="../public/images/teamlist1.png" width="70%">
      <p>Description of work list</p>
      <img src="../public/images/description-of-work1.png" width="70%">


<!--
      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
      -->
    </div>
  </div>

{% endblock %}
