{% extends "layout.html" %}

{% block pageTitle %}
  Shortlist page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Pineapple team
      </h1>
      <p class="govuk-body govuk-!-margin-bottom-7">
      There are 3 stages to finding the supplier that best meets your needs.
      </p>

    <ol class="govuk-list">

        <li>
      <span class="govuk-body govuk-!-font-weight-bold">1. View suppliers who applied</span></br>
      When suppliers apply, they declare which of your essential and nice‑to‑have skills and experience they have. Suppliers who don’t meet your essential skills and experience are excluded.
      </li>
      <li>
        </br>
        <span class="govuk-body govuk-!-font-weight-bold">2. Create a shortlist</span></br>
      Once you have a list of eligible suppliers, you can exclude the suppliers who:
      </li>
      <ul class="govuk-list--bullet">
        <li>have the least nice‑to‑have skills and experience</li>
        <li>can’t start when you need them to</li>
        </ul>

        <p class="govuk-body govuk-!-margin-bottom-7">You may need to ask for evidence of skills and experience if you have too many suppliers.</p>


    <li> <span class="govuk-body govuk-!-font-weight-bold"> 3. Evaluate your shortlist </span></br>
      Ask the shortlisted suppliers for:
      <ul class="govuk-list--bullet">
      <li>evidence of their skills and experience</li>
      <li>a proposal explaining how they plan to meet your requirements</li>
    </ol>

    <p class="govuk-body govuk-!-margin-bottom-4">All suppliers must provide a written proposal. You can choose additional assessment methods, for example a presentation.</p>

      <p class="govuk-body govuk-!-margin-bottom-7">You must tell suppliers how you’ll evaluate and assess them.</p>


      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">Supplier evaluation tasks
          </h2>
          <p>Add some more details</p>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  	Set how many suppliers to evaluate
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  	Set evaluation weighting </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                	Set technical competence criteria </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                    	Choose cultural fit criteria
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                    	Choose payment approach
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  	Choose additional assessment methods
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">Not started</strong>
            </li>
          </ul>
        </li>


      </ol>
    </div>
  </div>

{% endblock %}
